<div class="bg-success p-2 m-4 d-flex justify-content-center align-items-center curva">
  <div class="container-fluid my-5 d-flex align-items-center">
    <div class="m-2">
      <img class="tamaño" src="/assets/jpg/iciono.jpg" alt="" />
    </div>
    <div class="container-fluid align-self-center">
      <mat-form-field class="mat-form-field">
        <mat-label>Búsqueda</mat-label>
        <input
          [(ngModel)]="id"
          matInput
          placeholder="Ingresa el ID del PlayList"
        />
      </mat-form-field>
      <div class="container-fluid my-2 d-flex justify-content-center align-self-center">
        <button (click)="buscaPlayList()" type="button" class="btn btn-dark w-25">
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>
